:root {
    font-size: 16px;
    --box-background: #3457AFFF;
    --display-background: rgb(56, 73, 82, 98%);
    --btn-blue: #5a6bdc;
    --btn-bright-blue: rgb(7, 42, 218);
    --btn-navy-blue: rgba(2, 16, 56, 1);
    --btn-light-blue: rgb(61, 136, 183);
    --btn-gray: #384954;
    --btn-dark-gray: #303030;
    --linear-gradient-entryField: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(2, 11, 70, 1) 35%, rgb(136, 135, 129) 100%);
    --display-history-background: rgb(136, 135, 129);
    --linear-gradient-display-history: linear-gradient(90deg, rgba(118, 131, 134, 1) 0%, rgba(2, 11, 70, 1) 74%, rgba(0, 0, 0, 1) 100%);
    --white-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("img/jellyfish_background.jpg");
    background-size: cover;
}

li {
    list-style-type: none;
}

input[disabled] {
    opacity: .5;
}

.absolute {
    position: absolute;
    top: 75px;
    left: 15px;
    color: var(--white-color);
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.calculator__box {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    width: 50%;
    height: 70%;
    margin: auto;
    align-items: center;
}

.calculator__box-el {
    width: 100%;
    height: 100%;
    align-items: center;
}

.calculator__box-el:first-child {
    width: 100%;
    background-color: var(--white-color);
}

.calculator__box-el:last-child {
    display: none;
    width: 0;
}

.calculator__box-el.active:last-child {
    display: inline-block;
    width: 100%;
}

.display {
    position: relative;
}

.box-el__item {
    height: 100%;
    width: 100%;
}

.display__description {
    position: relative;
    width: 100%;
    height: 100%;
}

.display__description-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 9%;
    height: 32%;
    cursor: pointer;
}

.display__description-icon svg {
    fill-opacity: 50%;
}

.display__description-icon svg:hover {
    fill-opacity: 100%;
}

.display__entryField {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 3rem;
    border: unset;
    color: var(--white-color);
    background: var(--linear-gradient-entryField);
    text-align: right;
}

.keys {
    position: relative;
    padding: 18px 10px;
    box-sizing: border-box;
}

.box-el__item:first-child {
    height: 20%;
}

.box-el__item:nth-child(2n) {
    height: 80%;
    background-color: var(--white-color);
}

.keys__button {
    display: flex;
    width: 100%;
    height: 20%;
    margin: unset;
    justify-content: space-around;
    align-items: center;
    line-height: 10px;
}

.button {
    font-size: 1.5rem;
    width: 20%;
    height: 83%;
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

.button.gray {
    box-shadow: inset 0 0 64px -2px var(--btn-gray);
}

.button.blue {
    font-weight: bold;
    background-color: var(--btn-blue);
    box-shadow: inset 0 0 64px -2px var(--btn-gray);
}

.button.black {
    background-color: var(--btn-dark-gray);
    box-shadow: inset 0 0 64px -2px var(--btn-navy-blue);
}

.button.orange {
    font-weight: bold;
    background-color: var(--btn-bright-blue);
    box-shadow: inset 0 0 64px -2px var(--btn-light-blue);
}

.gray:active,
.blue:active,
.black:active,
.orange:active {
    background-color: unset;
    color: var(--btn-dark-gray);
}

.display__history {
    width: 100%;
    height: 100%;
    background-color: var(--display-history-background);
}

.display__history-title {
    padding: 10px 0 10px 10px;
    background-position-y: center;
    background-position-x: 4px;
    color: var(--white-color);
}

.display__history-list {
    position: relative;
    margin: 0;
    padding: 0 0 0 10px;
}

.display__history-list li {
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding: 5px 10px;
    background: var(--linear-gradient-display-history);
    color: var(--white-color);
    text-align: start;
}

.list__el-date {
    font-size: 1rem;
}

.list__el-descr {
    position: absolute;
    right: 10px;
}